/* Enable code wrapping in code blocks */
pre code {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.md-header {
    background: linear-gradient(
            to bottom,
            rgba(0, 148, 133, 1),
            rgba(0, 148, 133, 0.85)
    );    
}

.md-tabs {
    background: linear-gradient(
            to bottom,
            rgba(0, 148, 133, 0.85),
            rgba(0, 148, 133, 0.7)
    );
}

.md-footer-meta {
    background-color: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color);
}
.md-copyright__highlight {
    color: var(--md-primary-bg-color);
}
.md-main__inner {
    margin-bottom: 1.5rem;
}